<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.ChargepackMapper" >
  <resultMap id="BaseResultMap" type="com.health.entity.Chargepack" >
    <id column="CHARGEPACKID" property="chargepackid" jdbcType="DECIMAL" />
    <result column="CHARGEID" property="chargeid" jdbcType="DECIMAL" />
    <result column="PACKAGEID" property="packageid" jdbcType="DECIMAL" />
    <result column="NUMBERS" property="numbers" jdbcType="DECIMAL" />
  </resultMap>
  
    <insert id="insertChargePack" parameterType="com.health.entity.Chargepack">
  		insert into CHARGEPACK(CHARGEID,PACKAGEID,NUMBERS) values(#{chargeid}, #{packageid}, #{numbers})
  	</insert>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CHARGEPACKID, CHARGEID, PACKAGEID, NUMBERS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.entity.ChargepackExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from CHARGEPACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from CHARGEPACK
    where CHARGEPACKID = #{chargepackid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from CHARGEPACK
    where CHARGEPACKID = #{chargepackid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.health.entity.ChargepackExample" >
    delete from CHARGEPACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.health.entity.Chargepack" >
    insert into CHARGEPACK (CHARGEPACKID, CHARGEID, PACKAGEID, 
      NUMBERS)
    values (#{chargepackid,jdbcType=DECIMAL}, #{chargeid,jdbcType=DECIMAL}, #{packageid,jdbcType=DECIMAL}, 
      #{numbers,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.health.entity.Chargepack" >
    insert into CHARGEPACK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chargepackid != null" >
        CHARGEPACKID,
      </if>
      <if test="chargeid != null" >
        CHARGEID,
      </if>
      <if test="packageid != null" >
        PACKAGEID,
      </if>
      <if test="numbers != null" >
        NUMBERS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chargepackid != null" >
        #{chargepackid,jdbcType=DECIMAL},
      </if>
      <if test="chargeid != null" >
        #{chargeid,jdbcType=DECIMAL},
      </if>
      <if test="packageid != null" >
        #{packageid,jdbcType=DECIMAL},
      </if>
      <if test="numbers != null" >
        #{numbers,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.health.entity.ChargepackExample" resultType="java.lang.Integer" >
    select count(*) from CHARGEPACK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update CHARGEPACK
    <set >
      <if test="record.chargepackid != null" >
        CHARGEPACKID = #{record.chargepackid,jdbcType=DECIMAL},
      </if>
      <if test="record.chargeid != null" >
        CHARGEID = #{record.chargeid,jdbcType=DECIMAL},
      </if>
      <if test="record.packageid != null" >
        PACKAGEID = #{record.packageid,jdbcType=DECIMAL},
      </if>
      <if test="record.numbers != null" >
        NUMBERS = #{record.numbers,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update CHARGEPACK
    set CHARGEPACKID = #{record.chargepackid,jdbcType=DECIMAL},
      CHARGEID = #{record.chargeid,jdbcType=DECIMAL},
      PACKAGEID = #{record.packageid,jdbcType=DECIMAL},
      NUMBERS = #{record.numbers,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.entity.Chargepack" >
    update CHARGEPACK
    <set >
      <if test="chargeid != null" >
        CHARGEID = #{chargeid,jdbcType=DECIMAL},
      </if>
      <if test="packageid != null" >
        PACKAGEID = #{packageid,jdbcType=DECIMAL},
      </if>
      <if test="numbers != null" >
        NUMBERS = #{numbers,jdbcType=DECIMAL},
      </if>
    </set>
    where CHARGEPACKID = #{chargepackid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.Chargepack" >
    update CHARGEPACK
    set CHARGEID = #{chargeid,jdbcType=DECIMAL},
      PACKAGEID = #{packageid,jdbcType=DECIMAL},
      NUMBERS = #{numbers,jdbcType=DECIMAL}
    where CHARGEPACKID = #{chargepackid,jdbcType=DECIMAL}
  </update>
</mapper>