<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.health.mapper.ParameterMapper" >
  <resultMap id="BaseResultMap" type="com.health.entity.Parameter" >
    <id column="PARAMETERID" property="parameterid" jdbcType="DECIMAL" />
    <result column="PARENTID" property="parentid" jdbcType="DECIMAL" />
    <result column="PARAMNAME" property="paramname" jdbcType="OTHER" />
  </resultMap>
  
   <select id="queryParameter"  resultType="com.health.entity.Parameter">
      select * from Parameter ORDER BY parameterid ASC
  </select>
  
  <insert id="insertParameter" parameterType="com.health.entity.Parameter">
     insert into Parameter values(#{parameterid},0, #{paramname})
  </insert>
  
  <select id="lengthId" resultType="int">
       select max(parameterid) from Parameter
  </select>
  
  <delete id="deleteParameter" parameterType="com.health.entity.Parameter" >
       delete from parameter where paramname=#{paramname}
  </delete>
  
  <update id="updataParameter" parameterType="com.health.entity.Parameter" >
  
       update parameter set paramname=#{paramname}  where parameterid=#{parameterid}
  </update>
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PARAMETERID, PARENTID, PARAMNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.health.entity.ParameterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PARAMETER
    where PARAMETERID = #{parameterid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PARAMETER
    where PARAMETERID = #{parameterid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.health.entity.ParameterExample" >
    delete from PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.health.entity.Parameter" >
    insert into PARAMETER (PARAMETERID, PARENTID, PARAMNAME
      )
    values (#{parameterid,jdbcType=DECIMAL}, #{parentid,jdbcType=DECIMAL}, #{paramname,jdbcType=OTHER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.health.entity.Parameter" >
    insert into PARAMETER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parameterid != null" >
        PARAMETERID,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="paramname != null" >
        PARAMNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parameterid != null" >
        #{parameterid,jdbcType=DECIMAL},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="paramname != null" >
        #{paramname,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.health.entity.ParameterExample" resultType="java.lang.Integer" >
    select count(*) from PARAMETER
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PARAMETER
    <set >
      <if test="record.parameterid != null" >
        PARAMETERID = #{record.parameterid,jdbcType=DECIMAL},
      </if>
      <if test="record.parentid != null" >
        PARENTID = #{record.parentid,jdbcType=DECIMAL},
      </if>
      <if test="record.paramname != null" >
        PARAMNAME = #{record.paramname,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PARAMETER
    set PARAMETERID = #{record.parameterid,jdbcType=DECIMAL},
      PARENTID = #{record.parentid,jdbcType=DECIMAL},
      PARAMNAME = #{record.paramname,jdbcType=OTHER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.health.entity.Parameter" >
    update PARAMETER
    <set >
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="paramname != null" >
        PARAMNAME = #{paramname,jdbcType=OTHER},
      </if>
    </set>
    where PARAMETERID = #{parameterid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.health.entity.Parameter" >
    update PARAMETER
    set PARENTID = #{parentid,jdbcType=DECIMAL},
      PARAMNAME = #{paramname,jdbcType=OTHER}
    where PARAMETERID = #{parameterid,jdbcType=DECIMAL}
  </update>
</mapper>